.w-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.header-cart-container {
  display: flex;
  align-items: center;
  position: relative;
}
.count-container {
  position: absolute;
  top: 12px;
  right: -8px;
  height: 20px;
  min-width: 20px;
  padding: 0 6px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  z-index: 10;
  font-size: 20px;
}
